<div class="card rounded-3">
 
  <span id="currentDateTime" class=" bg-danger nav-link text-white">
    <span id="currentTime" style="font-size: 34px; font-weight: bold;">{{ currentTime }}</span> - <span id="currentDate" style="font-size: 20px; font-weight: bold;">{{ currentDate }}</span>
  </span>  

  <div class="card-body p-4">
    <!-- Title -->
    <app-task-header title="Clase de TEI"></app-task-header>
    
    <!-- Input text -->
    <app-task-input (createTask)="addTask($event)"></app-task-input>

    <!-- Task list -->
    <app-task-list [tasks]="taskList" (editTask)="updateTask($event)" (removeTask)="deleteTask($event)"></app-task-list>
  </div>
</div>
